<div class="container-fluid">
    <div class="row pt-2">
        <div class="col-12 p-0 d-flex image-style flex-column align-items-center">
            <img src="images/Big-Mac.png" alt="Big-Mac">
            <h1>Eat-da-Burger</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{#each burgers}}
            {{#unless devoured}}
            <div class="px-5 mt-3 ordered d-flex justify-content-end">
                <h6 class="w-50 p-2 px-3">{{id}}. {{burger_name}}</h6>
                <button class="devour ml-3 btn h-75 px-3 py-0 my-0" devour_id={{id}}>Devour!!!</button>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-6">
            {{#each burgers}}
            {{#if devoured}}
            <div class="devoured px-5 mt-3">
                <p class="w-50 d-flex flex-column align-items-start p-1 px-3">{{id}}. {{burger_name}}</p>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 row-3 d-flex flex-column align-items-center">
            <input type="text" class="input form-control w-25">
            <button class="button mt-2 ml-3 btn px-3 my-0">Enter Your Favourite Burger</button>
        </div>
    </div>
</div>